*{
    box-sizing: border-box;
    margin: 0 auto;
}
.container{
    display: block;
    margin: 0 auto;
}
.container1{
    display: inline-block;
    width: 30%;
    padding-left: 10px;
    padding-top: 20px;
    vertical-align:top;
}
.container2{
    display: inline-block;
    width: 69%;
    padding-left: 10px; 
    padding-top: 25px;
    vertical-align:top;
}
.header{
    width:100%;
    height: 70px;
    background-color: blue;
    text-align: center;
    padding-top: 20px;
    vertical-align:top;
}
.headerText{
    color: white;
    font-size:30px;
}
#searchBtn{
    width: 95%;
    padding: 7px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(23, 23, 187);
    color: white;
    font-size: 20px;
}
.city{
    width: 95%;
    padding: 7px;
    border-radius: 3px; 
    margin-top: 10px; 
}
.archivedItems{
    width: 95%;
    padding: 7px;
    border-radius: 3px;
    margin: 0;
    margin-bottom:5px;
    margin-top:5px;
    background-color: lightgrey;
    color: black;
    font-size: 15px;
    font-weight: lighter;
   
}
.results{
    width: 100%;
    padding:10px;
    border-radius: 3px;
    border: 1px solid black;
}
#displayCity{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#date{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.display{
    color: black;
    font-size: 17px;
    font-weight: lighter;
}
.card-container{
    width: 100%;
    border-radius: 3px;
    
    padding-top: 10px;
    display: flex;
}
.card{
    float:left;
    width:17%;
    background-color: rgb(198, 212, 237);
    padding: 10px;
    justify-content: space-between;
    height: auto;
    color: rgb(9, 30, 124);
    font-size: 17px;
    font-weight: lighter;
    border: 1px solid rgb(9, 30, 124);
}
.icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.icon1{
    width: 25px;
    height: 25px;
    object-fit: contain;

}